<!-- Corregido: Utiliza 'formGroup' sin corchetes y 'values' debería ser 'value' -->
<form [formGroup]="productForm" class="grid formgrid">
    <div class="col-12">
        <mat-form-field class="w-full">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput />
        </mat-form-field>
    </div>
    <div class="col-12">
        <mat-form-field class="w-full">
            
            
          
            
        </mat-form-field>
    </div>

   
    <pre>{{ productForm.value | json }}</pre>
</form>