<p>Capacitacion Juridica Malvina Aramayo</p>
<h2>Cursos Detalle</h2>
<div>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let curso of cursos" class="col-1-4">
        <div class="module hero">
            <h4>{{ curso.name }}</h4>
            <!-- Otro contenido del módulo aquí -->
        </div>
    </mat-grid-tile>
</mat-grid-list>

<h3>{{ selectedCurso?.name }} Detalles</h3>
<div *ngIf="selectedCurso">
    <div><span>id: </span>{{ selectedCurso.id }}</div>
    <div><span>nombre: </span>{{ selectedCurso.name }}</div>
    <div>
        <img class="w-6" src="../../../../../assets/image/estudio.jpg" alt="imagen DEL ESTUDIO" />
    </div>
</div>